In [1]:
import sqlalchemy
import pandas as pd

In [2]:
path = "C:/Users/Marie/Desktop/MSc DSBA/3. Big Data Algorithms and Platforms"
from os import listdir
print(listdir(path))

['1. Paolo', 'Backup_data', 'bigdata_algo.db', 'BigData_Lab2-Install.pdf', 'Calendrier des trimestres 17-18 - data.pdf', 'ENG ESSEC IRENE_MSc in DS BA  CERGY ENG_Team building 2017.pdf', 'trump_tweets.txt', 'trump_tweets_author.txt']

In [3]:
engine = sqlalchemy.create_engine("sqlite:///"+ path + "/bigdata_algo.db")

In [4]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [5]:
from sqlalchemy import Column, Integer, Float, Date, CHAR
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date
from sqlalchemy.orm import sessionmaker

class Tweet(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'Tweet'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    tweet_id = Column(Integer, primary_key=True, nullable=False) 
    tweet_user_id = Column(Integer)
    tweet_creation_date = Column(Date)
    tweet_text = Column(CHAR)
    
class User(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'User'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    user_id = Column(Integer, primary_key=True, nullable=False) 
    user_num_followers = Column(Integer)
    user_num_friends = Column(Integer)
    user_creation_date = Column(Date)

In [6]:
Base.metadata.create_all(engine)

In [7]:
session = sessionmaker()
session.configure(bind=engine)
s = session()

In [8]:
path = r'C:\Users\Marie\Desktop\MSc DSBA\3. Big Data Algorithms and Platforms'

def load_tweet_data(path):
    data = []
    instances = 0
    
    with open(path, 'r', encoding = 'utf-8') as f:
        reader = f.readlines()
        for row in reader:
            if instances ==0:
                instances+=1
                continue
            else :
                row_split = row.split(',')
                try :
                    data.append({'tweet_creation_date' : datetime.strptime(row_split[2], '%Y-%m-%d %H:%M:%S'),
                                 'tweet_id' : row_split[0],
                                 'tweet_user_id' : row_split[1],
                                 'tweet_text' : ','.join(row_split[3:])})
                    instances +=1
                except ValueError:
                    continue
                except IndexError:
                    continue
    f.close()
    return data, instances

def load_user_data(path):
    data = []
    instances = 0
    
    with open(path, 'r', encoding = 'utf-8') as f:
        reader = f.readlines()
        for row in reader:
            if instances ==0:
                instances+=1
                continue
            else :
                row_split = row.replace('\n', '').split(',')
                #print(row_split)
                try :
                    if len(row_split)>=4:
                        data.append({'user_id' : int(row_split[0]),
                                     'user_num_followers' : int(row_split[1]),
                                     'user_num_friends' : int(row_split[2]),
                                     'user_creation_date' : datetime.strptime(row_split[3], '%Y-%m-%d %H:%M:%S')})
                        instances +=1
                except ValueError as e:
                    data.append(e)
                    continue
                except IndexError as e:
                    # print(e)
                    continue
    f.close()
    return data, instances
data_tweet, instances_tweet = load_tweet_data(path + r'\trump_tweets.txt')
data_user, instances_user = load_user_data(path + r'\trump_tweets_author.txt')

In [9]:
file_name_tweet = path + r'\trump_tweets.txt'
df_tweet = pd.read_csv(file_name_tweet, names = ['tweet_id', 'tweet_user_id', 'tweet_creation_date', 'tweet_text'])
df_tweet.head()

,tweet_id,tweet_user_id,tweet_creation_date,tweet_text
0,933354508645748736,765213068,2017-11-22 15:20:30,RT @baileyjer: The National Enquirer is embara...
1,933354508972834816,1100048125,2017-11-22 15:20:30,"RT @ChrisCJackson: Lincoln: ""Four score and se..."
2,933354509253869573,20072329,2017-11-22 15:20:30,RT @EdKrassen: There is no point in having an ...
3,933354509425930243,251138148,2017-11-22 15:20:30,RT @lil_swingin_D: Donald trump calling lavar ...
4,933354509266546688,3884065459,2017-11-22 15:20:30,RT @NancySinatra: Ignorance is bliss. I'm disa...

In [10]:
df_tweet.to_sql(con=engine, index = False, name=Tweet.__tablename__, if_exists='replace')

In [11]:
file_name_user = path + r'\trump_tweets.txt'
df_user = pd.read_csv(file_name_tweet, names = ['user_id', 'user_num_followers', 'user_num_friends', 'user_creation_date'])
df_user.head()

,user_id,user_num_followers,user_num_friends,user_creation_date
0,933354508645748736,765213068,2017-11-22 15:20:30,RT @baileyjer: The National Enquirer is embara...
1,933354508972834816,1100048125,2017-11-22 15:20:30,"RT @ChrisCJackson: Lincoln: ""Four score and se..."
2,933354509253869573,20072329,2017-11-22 15:20:30,RT @EdKrassen: There is no point in having an ...
3,933354509425930243,251138148,2017-11-22 15:20:30,RT @lil_swingin_D: Donald trump calling lavar ...
4,933354509266546688,3884065459,2017-11-22 15:20:30,RT @NancySinatra: Ignorance is bliss. I'm disa...

In [12]:
df_user.to_sql(con=engine, index = False, name=User.__tablename__, if_exists='replace')

In [13]:
connection = engine.connect()
result = connection.execute('select count(distinct tweet_user_id) from tweet')
for row in result:
    print(row)
connection.close()

(1873,)

In [16]:
connection = engine.connect()
result = connection.execute('select count(distinct user_id) from user')
for row in result:
    print(row)
connection.close()

(1996,)